.project{
    margin: 50px 0;
    border: 2px solid #ad2739;
    padding: 25px;
    transition: 0.3s;
}

.project:hover{
    transform: translate(-15px, 0px);
    box-shadow: 20px 15px 0 0px #ad2739;
}

.project-name{
    font-size: 26px;
}

.project-type{
    margin: 0px 0 15px 0;
}

.project-description{
    margin: 0 0 15px 0;
}

.project-visit{
    margin: 25px 0 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ad2739;
    padding: 5px 40px;
    color: #ad2739;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.project-visit:hover{
    background-color: #ad2739;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .project{
        font-size: 14px;
        box-shadow: 10px 10px 0 0px #ad2739;
    }

    .project:hover{
        transform: none;
        box-shadow: 10px 10px 0 0px #ad2739;
    }
    
    .project-name{
        font-size: 22px;
    }
}

