*{
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: 'Nunito', sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.app{
  background-color: #081017;
  color: #ad2739;
}

body{
  scrollbar-width: none;
  background-color: #081017;
}

@-moz-document url-prefix() {
  html,body{overflow-x: hidden !important;}
}
